body {
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: rgb(228, 236, 252);
}

#ttl {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 65px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.p1 {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-inline: 15%;
    font-family: Arial;
    font-size: 18px;
}

#img {
    border-radius: 15px;
    padding-top: 15px;
    max-width: 1120px;
    max-height: 630px;
    padding-bottom: 4px;
}

.ejCmd {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-inline: 20%;
    font-size: 15px;
    font-family: monospace;
    color: rgb(122, 255, 95);
    background-color: rgba(80, 79, 99, 0.651);
    padding: 9px 9px;
    border-radius: 15px;
}

#vid1 {
    max-height: 480px;
    max-width: 852px;
    border-radius: 15px;
    margin-top: 15px;
    margin-bottom: 5px;
}

.p2 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: bold;
    font-family: Arial;
}

.ttl2 {
    margin-top: 8px;
    margin-bottom: 8px;
    font-family: Arial;
    font-size: 35px;
    font-weight: bold;
}

#hist_nmr {
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: Arial;
    font-size: 28px;
}

#hist {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-inline: 20%;
    font-family: 'Segoe UI';
    font-style: italic;
    font-size: 15px;
    padding: 20px 22px;
    background-color: rgb(255, 250, 185);
    border-radius: 15px;
}

.btn_hist input {
    padding: 12px 14px;
    margin-inline: 35px;
    background-color: rgb(49, 49, 49);
    font-size: 28px;
    font-weight: bold;
    font-family: Arial;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition-duration: 350ms;
}

.btn_hist input:hover {
    background-color: rgb(5, 5, 5);
}

#p2_h {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: bold;
    font-family: Arial;
    font-style: italic;
}

#aud {
    margin-top: 10px;
    border-radius: 15px;
    margin-bottom: 10px;
}

#ejCmd2 {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-inline: 20%;
    font-size: 15px;
    font-family: monospace;
    color: rgb(255, 255, 255);
    background-color: rgba(64, 63, 77, 0.651);
    padding: 9px 9px;
    border-radius: 15px;
}

.link {
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: Arial;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    transition: font-size 200ms ease-out;
}

.link:hover {
    font-size: 25px;
}

#preg {
    padding: 10px 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    font-family: 'Segoe UI';
    font-size: 20px;
    color: white;
    background-color: rgb(105, 0, 0);
    border: none;
    border-radius: 5px;
    transition-duration: 250ms;
}

#preg:hover {
    background-color: rgb(53, 0, 0);
}

#ejCmd3 {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-inline: 20%;
    font-size: 15px;
    font-family: monospace;
    color: rgb(155, 213, 252);
    background-color: rgba(34, 33, 43, 0.651);
    padding: 9px 9px;
    border-radius: 15px;
}

img, video, audio {
    max-width: 100%;
    height: auto;
}
