body.light-theme {
    --texto: black;
    --mdb: rgba(0, 0, 0, 0.5);
    --fondley: yellow;
    --fonddiv: rgb(177, 53, 53);
    --fondo: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(156, 156, 156));
    --ejfondo: white;
    --ejfondo2: rgb(0, 0, 0);
    --txtcontrario: white;
}

body.dark-theme {
    --texto: white;
    --mdb: rgba(255, 255, 255, 0.5);
    --fondley: rgb(126, 126, 0);
    --fonddiv: rgb(107, 25, 25);
    --fondo: linear-gradient(to bottom right, rgb(11, 11, 15), rgb(0, 0, 0));
    --ejfondo: black;
    --ejfondo2: white;
    --txtcontrario: rgb(0, 0, 0);
}

body {
    align-items: center;
    display: flex;
    flex-direction: column;
    background: var(--fondo);
    margin: 0;
    width: 100%;
}

#ttl {
    color: var(--texto);
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 55px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#btn_md {
    position: absolute;
    left: 20px;
    top: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: var(--mdb);
    font-family: Arial;
    font-weight: bold;
    font-size: 25px;
    padding: 15px 18px;
    border: none;
    border-radius: 20px;
    transition-duration: 300ms;
    color: var(--texto);
}

#btn_md:hover {
    background-color: rgba(136, 136, 136, 0.5);
}

.p1 {
    color: var(--texto);
    margin-top: 10px;
    margin-bottom: 10px;
    margin-inline: 30%;
    font-family: Arial;
    font-size: 18px;
}

#img {
    border-radius: 15px;
    padding-top: 15px;
    max-width: 960px;
    max-height: 540px;
    padding-bottom: 4px;
}

.ejCmd {
    white-space: pre-line;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-inline: 5%;
    font-size: 15px;
    font-family: monospace;
    color: rgb(21, 255, 0);
    background-color: rgba(34, 33, 43, 0.651);
    padding: 9px 9px;
    border-radius: 15px;
}

#vid1 {
    min-width: 640px;
    min-height: 360px;
    border-radius: 15px;
    margin-top: 15px;
    margin-bottom: 5px;
}

.p2 {
    color:var(--texto);
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: bold;
    font-family: Arial;
}

.ttl2 {
    color:var(--texto);
    margin-top: 8px;
    margin-bottom: 8px;
    font-family: Arial;
    font-size: 35px;
    font-weight: bold;
}

#hist_nmr {
    color: var(--texto);
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: Arial;
    font-size: 28px;
}

#hist {
    color: var(--texto);
    margin-top: 10px;
    margin-bottom: 10px;
    margin-inline: 35%;
    font-family: 'Segoe UI';
    font-style: italic;
    font-weight: bold;
    font-size: 18px;
    padding: 20px 22px;
    background-color:var(--fondley);
    border-radius: 15px;
}

.btn_hist input {
    padding: 12px 20px;
    margin-inline: 35px;
    background-color: var(--mdb);
    font-size: 28px;
    font-weight: bold;
    font-family: Arial;
    color: var(--txtcontrario);
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition-duration: 350ms;
}

.btn_hist input:hover {
    background-color: rgba(136, 136, 136, 0.5);
}

#p2_h {
    color: var(--texto);
    margin-inline: 10%;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: bold;
    font-family: Arial;
    font-style: italic;
}

#aud {
    margin-top: 10px;
    border-radius: 15px;
    margin-bottom: 10px;
}

#ejCmd2 {
    white-space: pre-line;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-inline: 5%;
    font-size: 15px;
    font-family: monospace;
    color: rgb(255, 70, 70);
    background-color: rgba(34, 33, 43, 0.651);
    padding: 9px 9px;
    border-radius: 15px;
}

.link {
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: Arial;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    transition: font-size 200ms ease-out;
}

.link:hover {
    font-size: 25px;
}

#preg {
    padding: 9px 18px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: 'Segoe UI';
    font-size: 25px;
    color: var(--texto);
    background-color: rgb(105, 0, 0);
    border: none;
    border-radius: 24px;
    transition-duration: 250ms;
}

#preg:hover {
    background-color: rgb(61, 0, 0);
    padding: 10px 20px;
    font-size: 30px;
    border-radius: 25px;
    margin-top: 2px;
    margin-bottom: 1px;
}

#ejCmd3 {
    white-space: pre-line;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-inline: 5%;
    font-size: 15px;
    font-family: monospace;
    color: rgb(155, 213, 252);
    background-color: rgba(34, 33, 43, 0.651);
    padding: 9px 9px;
    border-radius: 15px;
}

#txtFinal {
    color: var(--texto);
    font-size: 15px;
    font-family: Arial;
    font-style: italic;
    font-weight: bold;
    margin-inline: 15%;
    margin-top: 8px;
    margin-bottom: 10px;
}

.sinstyle {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-inline: 10%;
    background-color: var(--ejfondo);
    border-radius: 15px;
    padding: 14px 14px;
    color: var(--texto);
}

.todojunto {
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}

.juntoaimg {
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
}

.cd_test1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-inline: 25%;
    color: var(--txtcontrario);
    background-color: var(--ejfondo2);
    padding: 14px 14px;
    border-radius: 15px;
}

.PagSoloHTML {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px 10px;
    margin-inline: 15%;
    border-radius: 15px;
    background-color: white;
    color: black;
}
